KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS:= \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/devices/serial.o \

KERNEL_ARCH_OBJS += $(patsubst $(ARCHDIR)/memory/%.c, $(ARCHDIR)/memory/%.o, $(wildcard $(ARCHDIR)/memory/*.c))
KERNEL_ARCH_OBJS += $(patsubst $(ARCHDIR)/memory/%.S, $(ARCHDIR)/memory/%.o, $(wildcard $(ARCHDIR)/memory/*.S))