KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS:= \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \

KERNEL_ARCH_OBJS += $(patsubst $(ARCHDIR)/devices/%.c, $(ARCHDIR)/devices/%.o, $(wildcard $(ARCHDIR)/devices/*.c))
KERNEL_ARCH_OBJS += $(patsubst $(ARCHDIR)/devices/%.S, $(ARCHDIR)/devices/%.o, $(wildcard $(ARCHDIR)/devices/*.S))

KERNEL_ARCH_OBJS += $(patsubst $(ARCHDIR)/memory/%.c, $(ARCHDIR)/memory/%.o, $(wildcard $(ARCHDIR)/memory/*.c))
KERNEL_ARCH_OBJS += $(patsubst $(ARCHDIR)/memory/%.S, $(ARCHDIR)/memory/%.o, $(wildcard $(ARCHDIR)/memory/*.S))

KERNEL_ARCH_OBJS += $(patsubst $(ARCHDIR)/process/%.c, $(ARCHDIR)/process/%.o, $(wildcard $(ARCHDIR)/process/*.c))
KERNEL_ARCH_OBJS += $(patsubst $(ARCHDIR)/process/%.S, $(ARCHDIR)/process/%.o, $(wildcard $(ARCHDIR)/process/*.S)) 
